<div class="grid-x">
    <div class="cell large-12">
        <h1>Spelers</h1>
        <p>
            De spelerslijst bevat de spelers die standaard gekozen kunnen worden
            voor matches. Indien een speler niet in de spelerslijst staat, moet
            hij of zij iedere keer handmatig bij een matchaanvraag worden
            toegevoegd.
        </p>
        <div class="add-player">
            <div>
                <label>Speler</label>
                <select
                    [ngModel]="player"
                    (ngModelChange)="selectPlayer($event, i)"
                >
                    <option
                        [ngValue]="user"
                        name="user"
                        *ngFor="let user of users; let i = index"
                    >
                        <span
                            ><img
                                [src]="user.profile.image_48"
                                alt="{{ user.real_name }}"
                            />
                            {{ user.real_name }} (@{{ user.name }})</span
                        >
                    </option>
                </select>
            </div>

            <div>
                <a
                    class="alert button"
                    [ngClass]="{ disabled: loading }"
                    (click)="editList()"
                    *ngIf="player.default"
                    >Speler verwijderen van de spelerslijst</a
                >
                <a
                    class="success button"
                    [ngClass]="{ disabled: loading }"
                    (click)="editList()"
                    *ngIf="!player.default"
                    >Speler toevoegen aan de spelerslijst</a
                >
            </div>

            <div
                class="success callout"
                [innerHTML]="resResult.msg"
                *ngIf="resResult.success"
            ></div>
            <div class="alert callout" *ngIf="resResult.error">
                <div>
                    {{ resResult.msg }}
                </div>
                <div *ngFor="let errorType of resResult.errors">
                    <span *ngFor="let error of errorType">
                        {{ error }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
