<header>
    <div class="grid-container">
        <div>
            <nav class="nav">
                <ul class="vertical medium-horizontal menu">
                    <li class="menu-text">
                        <a [routerLink]="''" routerLinkActive="active"
                            ><img
                                [src]="
                                    baseUrl + '/assets/img/matchbot-icon.jpg'
                                "
                                alt="Matchbot"
                            />
                            Matchbot</a
                        >
                    </li>
                    <li>
                        <a [routerLink]="'/players'" routerLinkActive="active"
                            >Spelers</a
                        >
                    </li>
                    <li>
                        <a [routerLink]="'/match'" routerLinkActive="active"
                            >Match aanmaken</a
                        >
                    </li>
                    <li>
                        <a [routerLink]="'/results'" routerLinkActive="active"
                            >Resultaten toevoegen</a
                        >
                    </li>
                    <li>
                        <a [routerLink]="'/stats'" routerLinkActive="active"
                            >Statistieken</a
                        >
                    </li>
                    <li>
                        <a [routerLink]="'/standings'" routerLinkActive="active"
                            >Standen</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="grid-container">
    <router-outlet></router-outlet>
</div>
