<div class="grid-x">
    <div class="cell large-12">
        <h1>Statistieken</h1>
        <div>
            <div class="results">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4">
                        <label>Periode</label>
                        <select
                            [ngModel]="periodFilter"
                            (ngModelChange)="getTotals($event)"
                        >
                            <option
                                value="{{ period.code }}"
                                name="period"
                                *ngFor="let period of periods"
                            >
                                <span>{{ period.name }}</span>
                            </option>
                        </select>
                    </div>
                    <div class="cell large-4">
                        <label>Sorteren op</label>
                        <select
                            [ngModel]="orderByDefault"
                            (ngModelChange)="changeOrder($event)"
                        >
                            <option
                                value="{{ i }}"
                                name="order-by"
                                *ngFor="
                                    let orderOption of orderOptions;
                                    let i = index
                                "
                            >
                                <span>{{ orderOption.name }}</span>
                            </option>
                        </select>
                    </div>
                </div>
                <table>
                    <caption>
                        Totalen
                    </caption>
                    <thead>
                        <th>Nr.</th>
                        <th>ID</th>
                        <th>Speler</th>
                        <th>Matches</th>
                        <th>Gewonnen</th>
                        <th>Verloren</th>
                        <th>Teamscore</th>
                        <th>Gemiddelde teamscore</th>
                        <th>Kruipscore</th>
                        <th>Gemiddelde kruipscore</th>
                        <th>Punten</th>
                    </thead>
                    <tr *ngFor="let total of totals; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ total.id }}</td>
                        <td>{{ total.name }}</td>
                        <td>{{ total.matches }}</td>
                        <td>{{ total.won }}</td>
                        <td>{{ total.lost }}</td>
                        <td>{{ total.score }}</td>
                        <td>{{ total.score_avg }}/match</td>
                        <td>{{ total.crawl_score }}</td>
                        <td>{{ total.crawl_score_avg }}/match</td>
                        <td>{{ total.points }}</td>
                    </tr>
                </table>

                <div class="alert callout" *ngIf="resResult.error">
                    <div>
                        {{ resResult.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
